torch @ https://download.pytorch.org/whl/cu113/torch-1.12.0%2Bcu113-cp310-cp310-linux_x86_64.whl
torchvision
aria2
awscli
biopython
botorch
deepspeed==0.6.5
diffusiongym @ git+https://github.com/kprotopapas/diffusiongym.git
dm-tree==0.1.6
hmmer
hydra-core
imageio[ffmpeg]
ipykernel
lightning
mkl
ml-collections
modelcif==0.7
numpy==1.*
openmm
pdbfixer
pytorch-lightning==1.8.4
pyyaml
requests
scipy
seaborn
setuptools==69.0.3
timm
tqdm
transformers==4.38.2
typing-extensions
vendi_score
wandb
kalign[biopython] @ git+https://github.com/TimoLassmann/kalign.git@63d617807e5e7e84c9fc1c023494afb989ef4ea9
dllogger @ git+https://github.com/NVIDIA/dllogger.git
evodiff
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v0.2.1/flash_attn-0.2.1+cu116torch1.12.0-cp310-cp310-linux_x86_64.whl
